<div class="container">

  <div class="row m-lg-3">
    <div class="col"></div>
    <div class="col-6">
      <form (submit)="onSubmit()" class="form-inline">
        <label for="from" class="sr-only">From</label>
        <input type="text" id="from" name="from" [(ngModel)]="search.from"
               class="form-control mb-2 mr-sm-2 mb-sm-0" placeholder="from">
        <label for="to" class="sr-only">To</label>
        <input type="text" id="to" name="to" [(ngModel)]="search.to"
               class="form-control mb-2 mr-sm-2 mb-sm-0" placeholder="to">
        <button type="submit" class="btn btn-primary float-right">Search</button>
      </form>
    </div>
    <div class="col"></div>
  </div>

</div>

<div class="m-lg-3">
  <table class="table table-striped header-fixed">
    <thead>
    <tr>
      <th>Hotel</th>
      <th>State</th>
      <th>Available rooms</th>
      <th>Price</th>
      <th colspan="2">Flight</th>
      <th>Available seats</th>
      <th>Price</th>
      <th class="text-right">CHF Total Price</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let offer of offers">
      <td>{{offer.hotelName}}</td>
      <td><span class="badge badge-info">{{offer.hotelCountry}}</span></td>
      <td>{{offer.hotelVacancy}}</td>
      <td>{{offer.hotelPrice}}</td>
      <td colspan="2">
        <span class="badge badge-dark">{{offer.flightFrom}}</span>
        &nbsp;<img height="20px" src="https://upload.wikimedia.org/wikipedia/commons/e/e0/BSicon_FLUG.svg">&nbsp;
        <span class="badge badge-dark">{{offer.flightTo}}</span>
      </td>
      <td>{{offer.flightVacancy}}</td>
      <td>{{offer.flightPrice}}</td>
      <td class="text-right">{{offer.totalPrice}}</td>
    </tr>
    </tbody>
  </table>
</div>
