<table class="table table-striped header-fixed">
  <thead>
  <tr>
    <th>Hotel<br></th>
    <th>State</th>
    <th>Available rooms</th>
    <th>Price</th>
    <th colspan="2">Flight</th>
    <th>Available seats</th>
    <th>Price</th>
    <th class="text-right">CHF Total Price</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let offer of offers">
    <td>
      {{offer.hotelName}}
      <br><span class="badge badge-danger">{{offer.hotelId}}</span>
    </td>
    <td><span class="badge badge-info">{{offer.hotelCountry}}</span></td>
    <td>{{offer.hotelVacancy}}</td>
    <td>{{offer.hotelPrice}}</td>
    <td colspan="2">
      <span class="badge badge-dark">{{offer.flightFrom}}</span>
      &nbsp;<img height="20px" src="https://upload.wikimedia.org/wikipedia/commons/e/e0/BSicon_FLUG.svg">&nbsp;
      <span class="badge badge-dark">{{offer.flightTo}}</span>
      <br><span class="badge badge-danger">{{offer.flightId}}</span>
    </td>
    <td>{{offer.flightVacancy}}</td>
    <td>{{offer.flightPrice}}</td>
    <td class="text-right">{{offer.totalPrice}}</td>
  </tr>
  </tbody>
</table>
